{{#description}}
    /* {{{description}}} */
{{/description}}
    {{#isDecimal}}@Serializable(with = BigNumSerializer::class) {{/isDecimal}}
    @SerialName("{{{baseName}}}")
    val {{{name}}}: {{#useNullable}}dev.icerock.moko.network.nullable.Nullable<{{/useNullable}}{{#isEnum}}{{#isEnumFallbackNull}}Safeable<{{/isEnumFallbackNull}}{{classname}}.{{nameInCamelCase}}{{#isEnumFallbackNull}}>{{/isEnumFallbackNull}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{/isEnum}}{{#useNullable}}>{{/useNullable}}? = null